.carrossel {
    position: relative;
    width: 500px; /* ajuste o tamanho conforme necessário */
    overflow: hidden;
  }
  
  .carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .news-item {
    width: 500px; /* a mesma largura da div carrossel */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin: 0 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }